

   <div id="mainForm">
    <div id="logo"></div>


    <h3>Let's See How Did you Spend Your Weekdays</h3>
    <form action="/formEvent" method="POST">

       
        <label for="Name">Name:
            <input type="text" name="UserName" id="UserName">
     </label>
        <br>
        <br>
           <label for="EventName">Activities:
            <select name="EventName" id="EventName">
                <option value="eating">eating</option>
                <option value="study">studying</option>
                <option value="entertainment">chilling</option>
                <option value="workingout">working out</option>
            </select>
        </label>

        <br>
        <br>
     <label for="Time">Time(min):
            <input type="text" name="Time" id="Time" value="0">
     </label>
        <br>
        <br>

<h3>Days</h3>
        <label for="Monday">Monday
            <input type="radio" name="Days" value="Monday" id="Monday" checked>
        </label>
        <label for="Tuesday">Tuesday
            <input type="radio" name="Days" value="Tuesday" id="Tuesday">
        </label>

        <label for="Wednesday">Wednesday
            <input type="radio" name="Days" value="Wednesday" id="Wednesday">
        </label>
        <label for="Thursday">Thursday
            <input type="radio" name="Days" value="Thursday" id="Thursday">
        </label>

        <label for="Friday">Friday
            <input type="radio" name="Days" value="Friday" id="Friday">
        </label>
        
<br>
<br>
        <input type="submit" value="Submit" onclick="alert('event input')">

    </form>
    
<br>
<br>

  View <input type="text" name="UserName1" id="UserName1">'s Report 
 <br>
    <br>   
     
  <button onclick='goto()';> Go </button> 
<script>
function goto() {
    window.location = "http://localhost:3000/displayAll/"+document.getElementById('UserName1').value;
}       
</script>
</div>





