<div id="mainForm">
    <div id="logo"></div>

    
    <h2>DIY Juice Cleanse</h2>
    <form action="/form" method="POST">
       
        
        <p>Want to eat healthier? Do a DIY Juice Cleanse!</p>


        <label for="Name"> Name:
            <input type="text" name="Name" id="Name" value="default">
        </label>
        <br>
        <br>
        


        <label for="quarters">Size:
            <select name="quarters" id="quarters">
                <option value="short">Short</option>
                <option value="tall">Tall</option>
                <option value="grande">Grande</option>
                <option value="venti">Venti</option>
            </select>
        </label>

        <br>
        <br>

        <h3>Ingredients:</h3>
        <label for="pineapple">Pineapple
            <input type="radio" name="weapon" value="pineapple" id="pineapple" checked>
        </label>
        <label for="other">Banana
            <input type="radio" name="weapon" value="Banana" id="Banana"checked>
        </label>

        <label for="female">Apple
            <input type="radio" name="weapon" value="Apple" id="Apple">
        </label>
        <label for="other">Lemon
            <input type="radio" name="weapon" value="Lemon" id="Lemon">
        </label>

        <label for="female">Orange
            <input type="radio" name="weapon" value="Orange" id="Orange">
        </label>
        <label for="other">Spinach
            <input type="radio" name="weapon" value="Spinach" id="Spinach">
        </label>

        <label for="female">Kale
            <input type="radio" name="weapon" value="Kale" id="Kale">
        </label>
         <label for="other">Ginger
            <input type="radio" name="weapon" value="Ginger" id="Ginger">
        </label>

        <label for="female">Celery
            <input type="radio" name="weapon" value="Celery" id="Celery">
        </label>
         <label for="other">Cashews
            <input type="radio" name="weapon" value="Cashews" id="Cashews">
        </label>

        <label for="female">Cucumber
            <input type="radio" name="weapon" value="Cucumber" id="Cucumber">
        </label>


        <br>
        <br>


        <label for="Comments">Answer Machine Message
            <br>
            <textarea name="Comments" rows="10" cols="30" id="Comments">I would like to
            </textarea>
        </label>

        <br>


        <input type="submit" value="Submit">

    </form>
</div>
